body{
  font-family: JetBrains Mono, monospace;
  padding: 0;
  margin: 0;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

span{
  color: white;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /*bottom: 0;*/
}

#container{
  background-color:#212228;
  background-image: linear-gradient(#292a30 .1em, transparent .1em), 
  linear-gradient(90deg, #292a30 .1em, transparent .1em);
  background-size: 4em 4em;
  height: 100vh;
}


.card{
  width: 90px;
  height: 81.6px;
  background-color: transparent;
  border-radius: 5px;
  position: fixed;
}

.card:active {
  opacity: .75;
}

.card:hover {
  cursor: pointer;
  /*border: dashed white;*/
}

.one{
  background-color: transparent;
  /*z-index: 1;*/
}

.two{
  background-color: transparent;
  /*background-color: rgb(63, 165, 42);*/
  /*z-index: 2;*/
}

.three{
  background-color: transparent;
  /*background-color: rgb(42, 93, 176);*/
  /*z-index: 3;*/
}

.four{
  background-color: transparent;
  /*background-color: rgb(165, 153, 42);*/
  /*z-index: 4;*/
}

.five{
  background-color: transparent;
  /*background-color: rgb(165, 153, 42);*/
  /*z-index: 4;*/
}